@model GeoTagging.Models.Geoname

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Geoname</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asciiname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asciiname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alternatenames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alternatenames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fclass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fclass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin1Geonameid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin1Geonameid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin2Geonameid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin2Geonameid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryGeonameid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryGeonameid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Geonameid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
